body {
	padding-top: 70px;
}

#canvas-container {
	height: 810px;
}

canvas { 
	margin: 0 auto 20px;
	border: 1px solid black;
	display: block;
	position: absolute;
	top: 0px;
}

.navbar-brand img {
	margin: -12px 7px 0 0;
}

#img-container img {
	display: none;
	margin: 20px auto;
	border: 1px solid black;
}

#super-zoom {
	border: 1px solid #000;
	height: 300px;
	width: 300px;
	z-index: -20;
	position: absolute;
	top: 0px;
	left: 850px;
}

#canvas-labels {
	position: absolute;
	z-index: -10;
	height: 800px;
	width: 800px;
}

#canvas-labels div {
	position: absolute;
	width: 60px;
}

#label-xmin {
	top: 807px;
	left: -10px;
}

#label-xmax {
	top: 807px;
	left: 770px;
	text-align: center;
}

#label-ymin { 
	top: 27px;
	left: 785px;
	transform: rotate(90deg);
	text-align: center;
}

#label-ymax {
	top: 787px;
	left: 810px;
}