body {
	padding-top: 70px;
}

#canvas-container {
	height: 810px;
}

canvas { 
	margin: 0 auto 20px;
	border: 1px solid black;
	display: block;
	position: relative;
	top: -802px;
}

.navbar-brand img {
	margin: -12px 7px 0 0;
}

#img-container img {
	display: none;
	margin: 20px auto;
	border: 1px solid black;
}

#canvas-labels {
	position: relative;
	z-index: -10;
	height: 800px;
	width: 800px;
	margin: 0 auto;
}

#canvas-labels div {
	position: absolute;
	width: 60px;
}

#label-xmin {
	top: 807px;
	left: -30px;
	text-align: center;
}

#label-xmax {
	top: 807px;
	left: 770px;
	text-align: center;
}

#label-ymin { 
	top: 27px;
	left: 810px;
}

#label-ymax {
	top: 787px;
	left: 810px;
}