body {
	padding-top: 70px;
}

#canvas-container {
	height: 810px;
}

canvas { 
	margin: 0 auto 20px;
	border: 1px solid black;
	display: block;
	position: absolute;
	top: 0px;
}

.navbar-brand img {
	margin: -12px 7px 0 0;
}

#img-container img {
	display: none;
	margin: 20px auto;
	border: 1px solid black;
}

#super-zoom {
	box-sizing: content-box;
	border: 1px solid #000;
	height: 300px;
	width: 300px;
	z-index: -20;
	position: absolute;
	top: 0px;
	left: 850px;
}

#super-zoom div {
	height: 100px;
	width: 100px;
	margin: 0;
	padding: 0;
	float: left;
	text-align: center;
	padding-top: 80px;
	color: #fff;
	position: relative;
	text-shadow: 1px 1px 3px #666,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#super-zoom div>span {
	text-align: center;
	margin: 0 auto;
	width: 100px;
}

#super-zoom span.coord {
	font-size: 0.85em;
	position: absolute;
	top: 30px;
	left: 0;
}

#super-zoom span.val {
	/*margin-top:10px;*/
}

svg#legend {
	box-sizing: content-box;
	border: 1px solid #000;
	height: 200px;
	width: 200px;
	z-index: -20;
	position: absolute;
	top: 350px;
	left: 900px;
}

#chooser {
	border: 1px solid #000;
	height: 150px;
	width: 300px;
	position: absolute;
	left: 850px;
	top: 575px;
	padding: 15px;
}

#canvas-labels {
	position: absolute;
	z-index: -10;
	height: 800px;
	width: 800px;
}

#canvas-labels div {
	position: absolute;
	width: 60px;
}

#label-xmin {
	top: 807px;
	left: -10px;
}

#label-xmax {
	top: 807px;
	left: 770px;
	text-align: center;
}

#label-ymin { 
	top: 27px;
	left: 785px;
	transform: rotate(90deg);
	text-align: center;
}

#label-ymax {
	top: 787px;
	left: 810px;
}